.About {
  position: relative;
  padding: 20px;
}

.About .invisible {
  display: none;
}

.About h2 {
  padding: .5rem 0;
  font-family: 'Inter', sans-serif;
  font-size: 1.8rem;
  color: #02225c;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin-bottom: 1rem;
}

.About p, textarea {
  font-size: 1.2rem;
  font-family: 'Karla';
  font-weight: 300;
  line-height: 1.5em;
  color: rgb(36, 36, 36);
}

.About button {
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  transform: scale(1);
  position: absolute;
  top: 30px;
  right: 80px;
}

.About i {
  transform: scale(1.5);
}

.About button:hover {
  transform: scale(1.1);
}

.About textarea {
  width: 100%;
  resize: vertical;
  min-height: 250px;
  padding: 5px 1em;
}