.biodata {
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.biodata > img {
  width: 260px;
  height: 260px;
  background-size: cover;
  position: relative;
  margin-bottom: 1rem;
  object-fit: cover;
}

.biodata > input[type="file"] {
  position: absolute;
  display: none;
}
