.biodata {
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.biodata > img {
  width: 260px;
  height: 260px;
  background-size: cover;
  position: relative;
  margin-bottom: 1rem;
  object-fit: cover;
}

.biodata > input[type="file"] {
  position: absolute;
  display: none;
}

.biodata > div {
  width: 260px;
  height: 260px;
  background: rgba(255, 255, 255, .5);
  position: absolute;
  z-index: 1;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 2rem;
  font-weight: 700;
  display: none;
}

.biodata > div.visible {
  display: flex;
}