.Contact {
  color: white;
  margin: 30px 0;
}

.Contact > div {
  margin-top: 20px;
  padding: 0 20px;
}

.Contact h2 {
  font-family: 'Inter', sans-serif;
  font-size: 1.75rem;
  background-color: #002b5c;
  padding: .3rem 20px;
}

.Contact h3 {
  font-family: 'Inter';
  font-size: 1.23rem;
  display: inline-block;
  margin-left: .7rem;
}