p {
  cursor: pointer;
}

p:hover {
  opacity: .8;
}

p.firstname {
  font-size: 2rem;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  text-align: center;
  font-family: 'Inter';
  text-transform: capitalize;
}

p.profession {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: .5rem;
  text-align: center;
  text-transform: capitalize;
  font-family: 'Karla';
}

input {
  padding: .2rem;
}

input:focus {
  border: none;
  background-color: #3b70ad;
  color: white;
}

input.firstname {
  font-size: 2rem;
}

input.profession {
  font-size: 1.5rem;
}

p.contact {
  font-family: 'Karla';
  font-weight: 300;
  font-size: 1.1rem;
  margin-top: .2rem;
}

input.contact {
  font-size: 1.1rem;
  text-indent: .4rem;
}